@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #e9f2f1;
  height: 100%;
}
.container {

}
.blurb{
	margin-top: 24%;
}
h1 {
  color: #e34819;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 68px;
  text-align: center;
}
h2 {
  color: #e34819;
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 32px;
  text-align: center;
}

p {
  color:#2e2e2e;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.footer, .push {
  height:150px;
  text-align: bottom;
}

@media only screen and (max-width: 600px) {
 	body {
  }
 	.blurb{
		margin-top: 50%;
	}
  	h1{
  		font-size: 48px;
  	}
  	h2{
  		font-size: 24px;
  	}
  	p{
  		font-size: 14px;
  	}
 	.footer, .push {
  		height:150px;
  		text-align: bottom;
	}
}
