@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
  background-color: #e9f2f1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  min-height: 100%;
  margin-bottom: -50px;
}
h1 {
  color: #e34819;
  font-family: 'Poppins';
  font-size: 48px;
  text-align: center;
}
h2 {
   color: #e34819;
  font-family: 'Poppins';
  font-weight: Extra-Light;
  font-size: 32px;
  text-align: center;
}

p {
  color:#2e2e2e;
  font-family: 'Poppins';
  font-size: 14px;
  text-align: center;
}

#footer {
  height:50px
  padding: 20px;
}
