@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  background-color: #e9f2f1;
}
.container {
  margin: auto;
  width: 50%;
}
h1 {
  color: #e34819;
  font-family: 'Poppins';
  font-size: 48px;
  text-align: center;
}
h2 {
   color: #e34819;
  font-family: 'Poppins';
  font-size: 32px;
  text-align: center;
}

p {
  color:#e34819;
  font-family: 'Poppins';
  font-size: 14px;
  text-align: center;
}
